my-output/y.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ACH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceDeposit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationIban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IbanOwnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdditionalDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ACHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ACHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RTGS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceDeposit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationIban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IbanOwnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IbanOwnerFamilyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdditionalDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RTGSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RTGSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CurrentPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstituteTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceDepositNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="InstitueId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PayerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PaymentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InstituteTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InstituteTransferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NormalTransfer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceDepositNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationDepositNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationComment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceComment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NormalTransferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NormalTransferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ACHSoapIn">
    <wsdl:part name="parameters" element="tns:ACH" />
  </wsdl:message>
  <wsdl:message name="ACHSoapOut">
    <wsdl:part name="parameters" element="tns:ACHResponse" />
  </wsdl:message>
  <wsdl:message name="RTGSSoapIn">
    <wsdl:part name="parameters" element="tns:RTGS" />
  </wsdl:message>
  <wsdl:message name="RTGSSoapOut">
    <wsdl:part name="parameters" element="tns:RTGSResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="InstituteTransferSoapIn">
    <wsdl:part name="parameters" element="tns:InstituteTransfer" />
  </wsdl:message>
  <wsdl:message name="InstituteTransferSoapOut">
    <wsdl:part name="parameters" element="tns:InstituteTransferResponse" />
  </wsdl:message>
  <wsdl:message name="NormalTransferSoapIn">
    <wsdl:part name="parameters" element="tns:NormalTransfer" />
  </wsdl:message>
  <wsdl:message name="NormalTransferSoapOut">
    <wsdl:part name="parameters" element="tns:NormalTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="EnbankYaghutServiceSoap">
    <wsdl:operation name="ACH">
      <wsdl:input message="tns:ACHSoapIn" />
      <wsdl:output message="tns:ACHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RTGS">
      <wsdl:input message="tns:RTGSSoapIn" />
      <wsdl:output message="tns:RTGSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InstituteTransfer">
      <wsdl:input message="tns:InstituteTransferSoapIn" />
      <wsdl:output message="tns:InstituteTransferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NormalTransfer">
      <wsdl:input message="tns:NormalTransferSoapIn" />
      <wsdl:output message="tns:NormalTransferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EnbankYaghutServiceSoap" type="tns:EnbankYaghutServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ACH">
      <soap:operation soapAction="http://tempuri.org/ACH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTGS">
      <soap:operation soapAction="http://tempuri.org/RTGS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstituteTransfer">
      <soap:operation soapAction="http://tempuri.org/InstituteTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NormalTransfer">
      <soap:operation soapAction="http://tempuri.org/NormalTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EnbankYaghutServiceSoap12" type="tns:EnbankYaghutServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ACH">
      <soap12:operation soapAction="http://tempuri.org/ACH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTGS">
      <soap12:operation soapAction="http://tempuri.org/RTGS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InstituteTransfer">
      <soap12:operation soapAction="http://tempuri.org/InstituteTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NormalTransfer">
      <soap12:operation soapAction="http://tempuri.org/NormalTransfer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnbankYaghutService">
    <wsdl:port name="EnbankYaghutServiceSoap" binding="tns:EnbankYaghutServiceSoap">
      <soap:address location="http://10.0.78.29/enbankyaghut/EnbankYaghutService.asmx" />
    </wsdl:port>
    <wsdl:port name="EnbankYaghutServiceSoap12" binding="tns:EnbankYaghutServiceSoap12">
      <soap12:address location="http://10.0.78.29/enbankyaghut/EnbankYaghutService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>